/* Variables */
$font-header: 'Roboto', sans-serif;
$font-text: 'Playfair Display', serif;
$color-one: #1e272e;
$color-two: #ffd32a;
$color-three: #ffffff;
$color-background: #dfe4ea;

/* global */
body {
    font-family: $font-text;
    font-size: 16px;
    line-height: 1.7;
}
.container {
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
}

/* Navigation */

.navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    a {
        text-decoration: none;
    
    }
    span {
        color: $color-two;
        margin-left: 100px;
    }
}