/* Variables */
$font-header: 'Roboto Slab', serif;
$font-text: 'Playfair Display', serif;
$color-one: #1e272e;
$color-two: #ffd32a;
$color-three: #ffffff;
$color-background: #dfe4ea;

/* global */
body {
    font-family: $font-text;
    font-size: 16px;
    line-height: 1.7;
}
.container {
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
}
section {
    padding: 96px 100px 96px 100px;

}

/* Navigation */
.navbar {
    padding-top: 32px;
    padding-bottom: 12px;
    a {
        text-decoration: none;
        color: $color-three;
    }
    span {
        color: $color-two;
        margin-left: 100px;
        font-size: 20px;
    }
}
/* Header */
.background-image {
    background-image: url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
}
.splash {
    display: flex;
    height: 100vh;
}
.splash-inner {
    color: $color-three;
    text-align: center;
    margin: 0 auto;
    padding-top: 90px;
    h1 {
        font-size: 70px;
        font-family: $font-header;
        margin-top: 0;
    }
    h3 {
        font-size: 45px;
        margin-bottom: 0;
        margin-top: 70px;
    }
    .btn {
        padding: 20px 50px 20px 50px;
        border-style: solid;
        border-radius: 5px;
        border-color: $color-two;
        background-color: $color-two;
        color: $color-three;
        text-decoration: none;
        font-size: 20px;
    }
}
/* Services */
.services {
    text-align: center;
    h4 {
        font-family:$font-header;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
    i {
        font-size: 40px;
        color: $color-two;
    }
}
.section-title{
    text-align: center;
    h1 {
        margin-bottom: 0;
        font-family: $font-header;
        font-weight: bold;
    }
}
.service-type{
    padding-top: 60px;
}
/* Portfolio */
    img {
        width: 80%;
    }